
body {
    margin: 60px auto;
    width: 70%;
    height: 100%;
    background-color: 	#F8F8F8;
}

nav ul, footer ul {
    font-family:"Lucida Console", 'Monaco', 'monospace';
    padding: 20px;
    font-size:1.2em;
    list-style: none;
    text-align:center;
    
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 30px;
    margin-left: 30px;

    
}

a {
    font-size: 1.5em;
    text-decoration: none;
    color: #2eb8b8;
}
a:hover {
    font-size: 1.5em;
     text-decoration: underline;
}
a.link {
    font-size: 1.05em;
    text-decoration: none;/*dlj*/
    font-weight:bold;
    color: #ff9933
;
}
a.link:hover {
 
    text-decoration: underline;
}

a.lu {
    font-size: 1.4em;
    text-decoration: none;
    color: #aaaaaa;
}
a.lu:hover {
    text-decoration: none;
    font-weight:bold;
    color: #ff9933;
}

h1 {
    font-size: 4em;
    font-family:"Lucida Console", 'Monaco', 'monospace';
    text-align:center;
    color: #616161;
}

 
h3 {
    font-size: 1.5em;
    font-family:"Lucida Console", 'Monaco', 'monospace';
    text-align:center;			
    color: #616161;
  
}


p {
    font-size: 1.3em;
    font-family:"Lucida Console", 'Monaco', 'monospace';
    line-height: 1.4em;
    color: #616161;
    text-align:center;
    margin-top: 5%;
    margin-bottom: 5%;
}
footer {
    font-size: .8em;
    margin-top: 30%;
    border-top: 1px solid #d5d5d5;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.05em;
}

ul.posts li {
    font-family:"Lucida Console", 'Monaco', 'monospace';
    margin-bottom:3%;
    font-size: 1.05em;
    list-style: none;
    color: #616161;
}
