
<!DOCTYPE html>
	<html>
		<head>
		 <link rel="icon" href="http://villanoele.github.io/favicon.png">

			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
						<div class="container">
			
				<h1>Ele</h1>
			
			</div>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!-- <li><a href="/cv">CV</a></li> -->
	        		<li><a href="/work">Work</a></li>
	    		</ul>
			</nav>


			<div class="container">


			
			{{ content }}
			
			</div>
<!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:villanoele@gmail.com">villanoele@gmail.com</a></li>
	        		<li><a href="https://github.com/VillanoEle">github.com/VillanoEle</a></li>
				</ul>
			</footer>
		</body>
	</html>
